<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>ReShare</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/index.css"> <!-- Updated link to index.css -->
</head>

<body>
    <nav id="top-nav">
        <span id="title"><a href="/">ReShare</a></span>
        <span id="search">
            <div id="search-container" onclick="startTyping()">
                <i class="fas fa-search"></i>
                <span id="search-text">Search</span>
            </div>
        </span>
        <span id="actions">
            <span id="post">
                <i class="fas fa-plus"></i> 
                <span id="Words"> Post</span>
            </span>
            <span id="login"><a href="/login"><i class="fas fa-user"></i> Login</a></span>
        </span>
    </nav>
    <script src="static/js/index.js"></script>
</body>

</html>
